<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script src="static/libs/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="static/jquery-ui.min.css">
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
   
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      var gauge = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "%",
          minValue: 0,
          maxValue: 100,
          majorTicks: [
              "0",
              "10",
              "20",
              "30",
              "40",
              "50",
              "60",
              "70",
              "80",
              "90",
              "100"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0.5,
                  "to": 1,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gauge.draw();
      gauge.value = "0";
    
      var x = new Array();
      var y = new Array();
      
      var trace;
      var layout;
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Received #'+msg.count+': Vzdialenost: '+msg.Distance+' Osvetlenie: '+msg.Luminosity+' Trigger: '+msg.trigger+'<br>').html(); 
        x.push(parseFloat(msg.count));
        y.push(parseFloat(msg.Distance));
        gauge.value = msg.Luminosity;
        
        trace = {
            x: x,
            y: y,
            
        };
        
        layout = {
          title: 'Distance Data',
          xaxis: {
              title: 'Count',
          },
          yaxis: {
              title: 'Distance [cm]',
              //range: [0,200]
          }
        };
        console.log(trace);
        
        var traces = new Array();
        traces.push(trace);
        
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
                     
        });
        
      


      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; }); 
      $('#StartBtn').click(function(event) {
          socket.emit('start_btn', {value: $('#StartBtn').val()});
          return false; });
      $('#StopBtn').click(function(event) {
          socket.emit('stop_btn', {value: $('#StopBtn').val()});
          return false; });
      $('#StartDb').click(function(event) {
          socket.emit('start_db', {value: $('#StartDb').val()});
          return false; });
      $('#StopDb').click(function(event) {
          socket.emit('stop_db', {value: $('#StopDb').val()});
          return false; });
      $('#StartFW').click(function(event) {
          socket.emit('start_FW', {value: $('#StartFW').val()});
          return false; });
      $('#StopFW').click(function(event) {
          socket.emit('stop_FW', {value: $('#StopFW').val()});
          return false; });
      
              
      });
    </script>
<!--
    <style type="text/css">           
    </style>    
    <script>
   $(document).ready(function(){
    var layout = {
          title: 'Output variable',
          xaxis: {
            title: 'time',
            range: [0,60]
          },
          yaxis: {
            title: 'ys(t)',
            range: [0,1]
          }
        };

    
    $.ajax({
      type: "POST",
      url: "/dbdata/4",
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        xl = [];
        yl = [];
        zl = []

        for (var i=0; i< n; i++){
          xl.push(data[i].x);
          yl.push(data[i].Distance);
          zl.push(data[i].Luminosity); }
        let trace = [{
            x: xl,
            y: yl,}];   
        Plotly.newPlot($('#plotdiv')[0], trace,layout);         
      }
    }).done(function( o ) {
       // do something
    });    
   });   
-->
   
 </head>
 <body>
   
  <h1>Semestralny projekt</h1>
  <h2>Send:</h2>
  <form id="emit" method="POST" action='#'>
    <input type="text" name="emit_value" id="emit_value" placeholder="Threshold">
    <input type="submit" value="Send">
  </form>
  <button id="OpenBtn" type="submit" value="open">Open</button>
  <button id="StartBtn" type="submit" value="start">Start</button>
  <button id="StopBtn" type="submit" value="stop">Stop</button>
  <button id="CloseBtn" type="submit" value="close">Close</button><br>
  <button id="StartDb" type="submit" value="startdb">Start writing to db</button>
  <button id="StopDb" type="submit" value="stopdb">Stop writing to db</button><br>
  <button id="StartFW" type="submit" value="startFW">Start writing to file</button>
  <button id="StopFW" type="submit" value="stopFW">Stop writing to file</button>

  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form> 
  <h1>Senzor vzdialenosti:</h1>
  <div id="plotdiv" style="width:600px;height:250px;"></div>
  
  
  <h1>Senzor osvetlenia</h1>
  
  <canvas id="canvasID"></canvas>
  <h2>Receive:</h2>
  <div id="log"></div>
  </form> 

 </body>
</html>
