<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script src="static/libs/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="static/jquery-ui.min.css">
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
   
   <script type="text/javascript" charset="utf-8">
     
    function Write(id){
      $.ajax({
         type: "GET",
         url: "/dbdata/"+String(id),
         success:function(data)
         {
           $("#oneRecord").append(data)
         }
    }).done(function( o ) {
       // do something
      });
    }
    
    function plotDb(id){
      $.ajax({
         type: "GET",
         url: "/dbdata/"+String(id),
         success:function(data)
         {
           data = JSON.parse(data);

           var x = new Array();
           var dist = new Array();
           var lum = new Array();
           var traceDist = new Array();
           var traceLum = new Array();
           
           for(item of data){
            x.push(parseFloat(item.x));
            dist.push(parseFloat(item.Distance));
            lum.push(parseFloat(item.Luminosity));

            }
        traceDist = {
            x: x,
            y: dist,
            name: 'distance'
            
        };
        
        traceLum = {
            x: x,
            y: lum,
            
        };
        
        
        layout = {
          title: 'Distance Data',
          xaxis: {
              title: 'Count',
              
          },
          yaxis: {
              title: 'Distance [cm]',
              //range: [0,200]
          }
        };
        
        var traces = new Array();
        traces.push(traceDist);
        traces.push(traceLum);
        
        Plotly.newPlot($('#plotdivdb')[0], traces, layout); 
         }
    }).done(function( o ) {
       // do something
      });
    }
     $(document).ready(function() {
       $.ajax({
         type: "GET",
         url: "/dbdataAll",
         success:function(data)
         {
           console.log(data)
           data = JSON.parse(data);
           console.log(data);
           for(item of data){
             $("#dbValues" ).append(
             '<tr>'+
             '<td> Record number: '+item[0]+' </td>'+
             '<td>'+
             '<button onClick="Write('+item[0]+')"> Vypisat </button>'+ 
              '<button onClick="plotDb('+item[0]+')"> Vykreslit </button>'+ 

             '</td>'+ 
             '</tr>'
             )
             
           }
         }
       }).done(function( o ) {
       // do something
      });  
       
       
      var gauge = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "%",
          minValue: 0,
          maxValue: 100,
          majorTicks: [
              "0",
              "10",
              "20",
              "30",
              "40",
              "50",
              "60",
              "70",
              "80",
              "90",
              "100"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0,
                  "to": 100,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gauge.draw();
      gauge.value = "0";
    
      var x = new Array();
      var y = new Array();
      
      var trace;
      var layout;
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Received #'+msg.count+': Vzdialenost: '+msg.Distance+' Osvetlenie: '+msg.Luminosity+' Trigger: '+msg.trigger+'<br>').html(); 
        x.push(parseFloat(msg.count));
        y.push(parseFloat(msg.Distance));
        gauge.value = msg.Luminosity;
        
        trace = {
            x: x,
            y: y,
            
        };
        
        layout = {
          title: 'Distance Data',
          xaxis: {
              title: 'Count',
          },
          yaxis: {
              title: 'Distance [cm]',
              //range: [0,200]
          }
        };
        console.log(trace);
        
        var traces = new Array();
        traces.push(trace);
        
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
                     
        });
        
      


      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; }); 
      $('#StartBtn').click(function(event) {
          socket.emit('start_btn', {value: $('#StartBtn').val()});
          return false; });
      $('#StopBtn').click(function(event) {
          socket.emit('stop_btn', {value: $('#StopBtn').val()});
          return false; });
      $('#StartDb').click(function(event) {
          socket.emit('start_db', {value: $('#StartDb').val()});
          return false; });
      $('#StopDb').click(function(event) {
          socket.emit('stop_db', {value: $('#StopDb').val()});
          return false; });
      $('#StartFW').click(function(event) {
          socket.emit('start_FW', {value: $('#StartFW').val()});
          return false; });
      $('#StopFW').click(function(event) {
          socket.emit('stop_FW', {value: $('#StopFW').val()});
          return false; });
      
              
      });
    </script>

   
 </head>
 <body>
   
  <h1>Semestralny projekt</h1>
  <h2>Send:</h2>
  <form id="emit" method="POST" action='#'>
    <input type="text" name="emit_value" id="emit_value" placeholder="Threshold">
    <input type="submit" value="Send">
  </form>
  <button id="OpenBtn" type="submit" value="open">Open</button>
  <button id="StartBtn" type="submit" value="start">Start</button>
  <button id="StopBtn" type="submit" value="stop">Stop</button>
  <button id="CloseBtn" type="submit" value="close">Close</button><br>
  <button id="StartDb" type="submit" value="startdb">Start writing to db</button>
  <button id="StopDb" type="submit" value="stopdb">Stop writing to db</button><br>
  <button id="StartFW" type="submit" value="startFW">Start writing to file</button>
  <button id="StopFW" type="submit" value="stopFW">Stop writing to file</button>

  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form> 
  <h1>Senzor vzdialenosti:</h1>
  <div id="plotdiv" style="width:600px;height:250px;"></div>
  
  
  <h1>Senzor osvetlenia</h1>
  
  <canvas id="canvasID"></canvas>
  <h2>Receive:</h2>
  <div id="log"></div>
  
  <table id = "dbValues">
  <div id="oneRecord">
    </div>
    
    <div id="plotdivdb" style="width:600px;height:250px;"></div>
  </form> 

 </body>
</html>
